:root.theme-dark {
  --page-background-image: url('../images/cover-image-dark.png');
  --page-background-color: #000028;
  --accent-color: #FF0070;
  --decoration-title-color: #DB00FF;
  --block-title-color: var(--accent-color);
  --text-color: #F1B2CE;
  --interfase-color: var(--accent-color);
  --interfase-color-hover: #FF007066;
  --decoration-element-display: flex;
}