:root.theme-light {
  --page-background-image: url('../images/cover-image-light.png');
  --page-background-color: rgb(255, 200, 200);
  --accent-color: #FF8DCB;
  --decoration-title-color: #FFC2E6;
  --block-title-color: var(--text-color);
  --text-color: #353430;
  --interfase-color: var(--text-color);
  --interfase-color-hover: #32312D66;
  --decoration-element-display: none;
}

@media (prefers-color-scheme: light) {

  :root {
  --page-background-image: url('../images/cover-image-light.png');
  --page-background-color: rgb(255, 200, 200);
  --accent-color: #FF8DCB;
  --decoration-title-color: #FFC2E6;
  --block-title-color: var(--text-color);
  --text-color: #353430;
  --interfase-color: var(--text-color);
  --interfase-color-hover: #32312D66;
  --decoration-element-display: none;
}

} 